.start {
  height: 25px;
  width: 25px;
  color: white;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.dest {
  height: 25px;
  width: 25px;
  color: white;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.crime {
  height: 50px;
  width: 50px;
  color: white;
  background-color: purple;
  border-top: 20%;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
